.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.Home_Top
{
  background-color: grey;
}

.Edit_css
{
  background-color: #fff5d7;
}

.Books_css
{
  background-color: #fff5d7;
}

.Timer_css
{
  background-color: #fff5d7;
}


